/******************************************************************
Site Name:
Author:

Stylesheet: Single

Here is where we declare all our variables like colors, fonts,
base values, and defaults. We want to make sure this file ONLY
contains variables that way our files don't get all messy.
No one likes a mess.

******************************************************************/

.single-container {
	margin-top: 80px;

	.article-header {
		border-bottom: 0.5px solid $black;
		margin-bottom: 1.5em;
		
		.header-category, .entry-time {
			font-size: 0.8em;
		}
	}
}

